*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-sizing: border-box;
}

body{
    background-image: url(https://support-legendsofruneterra.riotgames.com/hc/article_attachments/4412295276819/Ahri.png);
    background-position: center;
    
}

button{
    background-color: rgb(162, 7, 7);
    color: black;
    border: 2px solid #080808;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
} 

button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}

button:hover > i {
    color: blanchedalmond;
}

button i{
    color: #000000;
    font-weight: bold;
}

.hide{
    display: none;
}

.todo-container {
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #3d21009a;
    padding: 1.5rem;
    border-radius: 15px;
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1 rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

.todo {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-color: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;

}

.todo button{
    margin-left: 0.4rem;

}

.done h3 {
    color:#fff;
    text-decoration: line-through;

}

